- name: "update apt packages."
  become: yes
  apt:
    update_cache: yes


- name: "upgrade packages"
  become: yes
  apt:
    upgrade: yes


- name: "remove dependencies that are no longer required"
  become: yes
  apt:
    autoremove: yes


- name: "install nodejs and npm"
  become: yes
  apt:
    name: ["nodejs", "npm"]
    state: latest
    update_cache: yes
    


- name: "install n"
  become: yes
  npm:
    name: n
    global: yes
    production: yes


- name: "install nodejs 13.8.0"
  become: yes
  shell: n 13.8.0


- name: "install pm2"
  become: yes
  npm:
    name: pm2
    global: yes
    production: yes
    state: present

- name: Creates directory
  file:
    path: /home/ubuntu/.config/systemd/user/
    state: directory

- name: "add node autostart configuration."
  become: true
  copy:
    src: uda_app.service
    dest: /home/ubuntu/.config/systemd/user/

- name: "enable uda_app service"
  systemd:
    daemon_reload: yes
    scope: user