[Unit]
Description=Node start on boot 
Wants=network-online.target
After=network-online.target

[Service]
User=ubuntu
Type=simple
WorkingDirectory=/home/ubuntu/uda_app/dist/
ExecStart=/usr/local/bin/pm2 start -f main.js

[Install]
WantedBy=multi-user.target