[Unit]
Description=Node start on boot
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
StandardOutput=journal
WorkingDirectory=/home/ubuntu/uda_app/dist/
ExecStart=/bin/bash /home/ubuntu/.bin/start.sh

[Install]
WantedBy=default.target